.CreatePostCard {
  a {
    text-decoration: none;
    color: black;
  }
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  position: relative;

  .content {
    width: 100%;
    flex-shrink: 0;
    height: 100vh;
    transition: 0.5s;
    &.show-filter {
      width: 80%;
    }

    .ed-container {
      width: 80vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;

      .ed-origin {
        &.sixteenth-ninth {
          width: 80%;
          background-color: white;
          aspect-ratio: 16/9;
        }
        &.ninth-sixteenth {
          height: 80%;
          background-color: white;
          aspect-ratio: 9/16;
        }
      }
    }
  }

  .filter-box {
    width: 20%;
    height: 100%;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    border-left: 2.5px solid white;

    &.hide {
      width: 0vw;
    }

    .toggle {
      position: absolute;
      left: -40px;
      border-top: none;
      border-bottom: 2.5px solid white;
      border-left: 2.5px solid white;
      border-right: none;
      width: 40px;
      height: 40px;
      border-radius: 4px 0px 0px 10px;
    }

    .download-btn{
      position: absolute;
      left: -40px;
      top: 45px;
      border-top: none;
      border-bottom: 2.5px solid white;
      border-left: 2.5px solid white;
      border-right: none;
      width: 40px;
      height: 40px;
      border-radius: 4px 0px 0px 10px;
    }
  }

  @media screen and (max-width: 768px) {
    .filter-box {
      position: absolute;
      top: 0;
      width: 80%;
      right: 0;
    }
    .content {
      &.show-filter {
        width: 100%;
      }
      .ed-container {
        width: 100vw;
        .ed-origin {
          &.sixteenth-ninth {
            width: 100%;
          }
          &.ninth-sixteenth {
            height: 100%;
          }
        }
      }
    }
  }
}
