@use "../../../variables.scss";

.CreatePostCard {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;

  .content {
    width: auto;
    flex-grow: 1;
    height: 100%;
    transition: 0.5s;
  }

  .filter-box {
    width: 25%;
    height: 100%;
    position: relative;
    transition: 0.5s;
    border-left: 2.5px solid white;

    &.hide {
      width: 0%;
    }
  }

  @media screen and (max-width: 1200px) {
    .filter-box {
      width: 30%;
    }
    .content {
      .ed-container {
        width: 70vw;
      }
    }
  }

  @media screen and (max-width: 890px),
    screen and (max-width: 890px) and (max-height: 480px) {
    .filter-box {
      position: absolute;
      top: 0;
      width: 50%;
      right: 0;
    }
    .content {
      .ed-container {
        width: 100vw;
      }
    }
  }

  @media screen and (orientation: portrait) and (max-width: 890px) {
    .filter-box {
      position: absolute;
      top: 0;
      width: 85%;
      right: 0;
    }
    .content {
      .ed-container {
        width: 100vw;
      }
    }
  }
}
