.WelcomePage {
  font-weight: bolder;
  font-size: 100px;
  > div {
    width: 100vw;
    height: 100vh;
  }

  .logo {
    border-radius: 0.3em;
  }

  .btn-ok {
    font-size: 0.6em;
  }
}

.modal-content {
  font-size: 25px;
  .sixteenth-ninth {
    width: 200px;
    background-color: white;
    aspect-ratio: 16/9;

    &:hover {
      cursor: pointer;
      border: 3px solid #ff3a65;
    }
  }

  .three-two {
    width: 200px;
    background-color: white;
    aspect-ratio: 3/2;

    &:hover {
      cursor: pointer;
      border: 3px solid #ff3a65;
    }
  }

  .two-three {
    height: 200px;
    background-color: white;
    aspect-ratio: 2/3;

    &:hover {
      cursor: pointer;
      border: 3px solid #ff3a65;
    }
  }

  .ninth-sixteenth {
    height: 200px;
    background-color: white;
    aspect-ratio: 9/16;

    &:hover {
      cursor: pointer;
      border: 3px solid #ff3a65;
    }
  }
}

@media screen and (orientation: portrait),
  screen and (max-width: 890px),
  screen and (max-height: 480px) {
  .WelcomePage {
    font-size: 50px;
  }
  .modal-content {
    font-size: 20px;
  }
}
