@use "../../variables.scss";
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-theme-2);

  .ed-container {
    width: 75vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .ed-box {
      &.three-two {
        width: 720px;
        aspect-ratio: 3/2;
      }
      &.two-three {
        height: 720px;
        aspect-ratio: 2/3;
      }

      &.white {
        background-color: #e9fff9;
      }

      &.theme{
        background-color: var(--bg-theme);
      }
    }
  }
}

@media screen and (orientation: portrait) {
  .content {
    .ed-container {
      width: 100vw;
    }
  }
}
