.filter-box {
  .filter-container {
    width: 100%;
    height: 100%;
    overflow: auto;
    // scrollbar-color: #f6839c #ff3a65;

    .filter-body {
      min-height: 90%;
      width: 100%;
    }

    .filter-footer {
      height: 10%;
    }

    .logo {
      font-family: "SM04_Moon-Bold";
      color: white;
      -webkit-text-stroke: 6px #ff3a65;
      paint-order: stroke;
    }
  }
}
