@font-face {
  font-family: "Brownie";
  src: url(./assets/fonts/BrownieStencil-8O8MJ.ttf);
}

.ff-Brownie {
  font-family: "Brownie";
}

.bg-theme {
  background-color: #6dbb92 !important;
}

.bg-theme-2 {
  background-color: #59c3c3;
}

.bg-theme-3 {
  background-color: #6DF6AD;
}

.bg-theme-4 {
  background-color: #f6839c;
}

.btn-cancel {
  background-color: #f6839c !important;
  padding: 5px 10px 5px 10px !important;
  border-radius: 10px;
  border: 1px solid white;

  &:hover {
    background-color: #fe64a3 !important;
  }

  &:active {
    background-color: #f6839c !important;
    border: 1px solid gray;
  }
}

.btn-ok {
  background-color: #59c3c3 !important;
  padding: 5px 10px 5px 10px !important;
  border-radius: 10px;
  border: 1px solid white;

  &:hover {
    background-color: #048a81 !important;
  }

  &:active {
    background-color: #59c3c3 !important;
    border: 1px solid gray;
  }
}
