:root {
  --color-theme: #f6839c;
  --color-theme-2: #ff3a65;
  --color-secondary: #fe64a3;
  --bg-theme: #f6839c;
  --bg-theme-2: #ff3a65;
  --bg-secondary: #fe64a3;
  --ff-main-regular: "SM04_Moon-Regular";
  --ff-main-bold: "SM04_Moon-Bold";
  --ff-main-thin: "SM04_Moon-Thin";
  --ff-main-italic: "SM04_Moon-Italic";
  --ff-sec-regular: "Brownie";
}